{% extends 'hotel_booking/base.html' %}

{% block contents %}
    {% if booking_message %}
        <v-alert
            type="success"
            dismissible
        >
            {{ booking_message }}
        </v-alert>
    {% endif %}

    <v-card>
        <v-card-title>
            <v-btn
                icon
                class="px-0"
                href="{% url 'index' %}"
            ><v-icon>mdi-arrow-left</v-icon></v-btn>&nbsp; Booking list
        </v-card-title>
        <v-card-text>
            <v-simple-table class="border">
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th class="text-left">
                                Reference Number
                            </th>
                            <th class="text-left">
                                Check-in
                            </th>
                            <th class="text-left">
                                Check-out
                            </th>
                            <th class="text-left">
                                Persons
                            </th>
                            <th class="text-left">
                                Rooms Included
                            </th>
                            <th colspan="text-left">
                                Amount
                            </th>
                            <th class="text-left">
                                Created
                            </th>
                            <th class="text-left">
                                Status
                            </th>
                            <th class="text-left">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings_lists %}
                            <tr>
                                <td class="text-nowrap">{{ booking.reference_number }}</td>
                                <td class="text-nowrap">{{ booking.check_in }}</td>
                                <td class="text-nowrap">
                                    {{ booking.check_out }}<br>
                                    {{ booking.length_of_stay }}-night{% if booking.length_of_stay > 1 %}s{% endif %}
                                </td>
                                <td class="text-nowrap">{{ booking.persons }}</td>
                                <td class="text-nowrap">
                                    {% for room_type in booking.rooms_included %}
                                        <div class="d-block py-1">{{ room_type }}</div>
                                    {% endfor %}
                                </td>
                                <td class="text-nowrap">&#8369; [[ format_amount({{ booking.total_amount }}) ]]</td>
                                <td class="">{{ booking.created_at }}</td>
                                <td class="text-nowrap">
                                    {% if  booking.booking_status_id == 1 %}
                                        <v-chip
                                            class="ma-0"
                                            color="primary"
                                        >
                                            {{ booking.booking_status }}
                                        </v-chip>
                                    {% elif booking.booking_status_id == 2 %}
                                        <v-chip
                                            class="text-white ma-0"
                                            color="error"
                                        >
                                            {{ booking.booking_status }}
                                        </v-chip>
                                    {% elif booking.booking_status_id == 3 %}
                                        <v-chip
                                            class="ma-0 text-white"
                                            color="orange"
                                        >
                                            {{ booking.booking_status }}
                                        </v-chip>
                                    {% elif booking.booking_status_id == 4 %}
                                        <v-chip
                                            class="ma-0 text-white"
                                            color="green"
                                        >
                                            {{ booking.booking_status }}
                                        </v-chip>
                                    {% elif booking.booking_status_id == 5 %}
                                        <v-chip
                                            class="ma-0"
                                            dark
                                        >
                                            {{ booking.booking_status }}
                                        </v-chip>
                                    {% else %}
                                        <v-chip
                                            class="ma-0"
                                        >
                                            {{ booking.booking_status }}
                                        </v-chip>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if  booking.booking_status_id == 1 %}
                                    <v-btn
                                        outlined
                                        color="error"
                                        @click="confirm_cancel({{ booking.id }})"
                                    >
                                        Cancel
                                    </v-btn>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                            <td colspan="9" class="text-center">No data available</td>
                            </tr>
                        {% endfor %}
                        <v-form action="{% url 'booking-cancel' %}" method="post" id="cancel_form">
                            {% csrf_token %}
                            <input type="hidden" :value="cancel_booking_id" name="booking_id">
                        </v-form>
                    </tbody>
                </template>
            </v-simple-table>
        </v-card-text>
    </v-card>
{% endblock %}
{% block script %}
    <script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        delimiters: [
            '[[',
            ']]',
        ],
        data: {
            show: false,
            cancel_booking_id: null,
        },

        computed: {

        },

        mounted() {
              this.show = true
        },

        methods: {
            format_amount(amount) {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

            confirm_cancel(id) {
                this.cancel_booking_id = id
                if (confirm("Are you sure to cancel this booking?")) {
                    setTimeout(function () {
                        document.getElementById('cancel_form').submit()
                    }, 500)
                }
            },
        },
    })
    </script>
{% endblock %}