<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous"></script>

    <style>
        p input {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        html { overflow-y: auto !important; }

        button {
            outline: none !important;
        }

        a {
            text-decoration: none !important;
        }

        body {

        }
    </style>

</head>
<body>
    <div id="app">
        <v-app style="visibility: hidden" :class="{visible:show}">
            <v-main style="background-color: #E8EAF6">
                <v-container>
                    <v-alert
                        prominent
                        type="error"
                    >
                        <v-row align="center">
                            <v-col class="grow">
                                Invalid data input
                            </v-col>
                            <v-col class="shrink">
                                <v-btn
                                    color="primary"
                                    href="{% url 'index' %}"
                                >
                                    Home page
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-alert>
                </v-container>
            </v-main>
        </v-app>
    </div>
    <script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        delimiters: [
            '[[',
            ']]',
        ],
        data: {
            show: false,
        },

        computed: {
        },

        mounted() {
              this.show = true
        },

        methods: {
        },
    })
    </script>
</body>
</html>